html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top_wave
{
    position: relative;
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
}

.top_wave > div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(images/topwave.png);
    background-size: 2000px 200px;
}

.top_wave .wave1
{
    animation: rightwave 8s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.top_wave .wave2
{
    animation: leftwave 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.top_wave .wave3
{
    animation: rightwave 4s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.bottom_wave
{
    position: relative;
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
    
}

.bottom_wave > div
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(images/bottomwave.png);
    background-size: 2000px 200px;
}

.bottom_wave .wave1
{
    animation: leftwave 8s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: -1s;
    bottom: 0;
}
.bottom_wave .wave2
{
    animation: rightwave 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -6s;
    bottom: 10px;
}
.bottom_wave .wave3
{
    animation: leftwave 4s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -3s;
    bottom: 15px;
}

@keyframes rightwave
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 2000px;
    }
}
@keyframes leftwave
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -2000px;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    width: 40%;
}

.message {
    width: 50%;
}

@media screen and (max-width: 800px) {
    .title {
        width: 80%;
    }
    
    .message {
        width: 95%;
    }
}