html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.flex-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bnojourator {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: 1001;
}

.top-wave
{
    position: relative;
    width: 100%;
    height: 20%;
    background: white;
    overflow: hidden;
}

.top-wave > div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/topwave.png);
    background-size: 2000px 100%;
}

.top-wave .wave1
{
    animation: leftwave 8s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.top-wave .wave2
{
    animation: rightwave 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.top-wave .wave3
{
    animation: leftwave 4s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.bottom-wave
{
    position: relative;
    width: 100%;
    height: 15%;
    background: white;
    overflow: hidden;
}

.bottom-wave > div
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: url(images/bottomwave.png);
    background-size: 2000px 100%;
}

.bottom-wave .wave1
{
    animation: rightwave 8s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: -1s;
    bottom: 0;
}
.bottom-wave .wave2
{
    animation: leftwave 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -6s;
    bottom: 10px;
}
.bottom-wave .wave3
{
    animation: rightwave 4s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -3s;
    bottom: 15px;
}

@keyframes rightwave
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 2000px;
    }
}
@keyframes leftwave
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -2000px;
    }
}

.generator {
    color: #F87D25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.intro-msg {
    font-size: 1.6em;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    height: 50%;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 8%;
}

.btn > button {
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffae5d;
    border: none;
    border-radius: 15px;
    transition: ease-in 0.2s;
    min-width: 30%;
    height: 100%;
}

#download:hover { background-color: #ff962d; }
#download::after { content: 'Télécharger mon bnojour'; }
#download:focus { background-color: rgb(0, 165, 0, 0.8); }
#download:focus:after { content: 'Bnojour téléchargé \2713'; }

#copy:hover { background-color: #ff962d; }
#copy::after { content: 'Copier mon bnojour'; }
#copy:focus { background-color: rgb(0, 165, 0, 0.8); }
#copy:focus:after { content: 'Bnojour copié \2713'; }


.genBtn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 2vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F87D25;
    border: none;
    border-radius: 15px;
    box-shadow: -2px 6px 5px 0px rgba(0, 0, 0, 0.4);
}
  
.genBtn:hover {
    box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.genBtn:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.7);
    transform: translateY(3px);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title > img {
    width: 30%;
}

.message {
    width: 50%;
}

.scroll {
    height: 4%;
    position: absolute;
    bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1001;
    transition: transform .3s;
}

.scroll:hover {
    transform: scale(1.2);
  }

a > img {
    display: inline;
    height: 100%;
}

#about-bg {
    animation: rightwave 30s linear infinite;
    background-image: url(images/background.png);
    background-repeat: repeat;
    background-size: 500px;
    font-size: 120%;
    font-family: Verdana, sans-serif;
    color: white;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: #FF6D6D;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    text-justify: auto;
    padding: 15px;
    width: 90%;
}

.typing {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
}

.wrap {
    display: inline-block;
    border-right: 0.08em solid #fff;
}

.rgb {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.cnotact {
    margin-top: 5%;
    margin-bottom: 10px;
    width: 50%;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FF6D6D;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    height: 60px;
    width: 80px;
}
  
#topBtn:hover {
    background-color: #c45252;
}

@media screen and (max-width: 800px) {
    .title {
        top: 2%;
    }

    .title > img {
        width: 80%;
    }

    .top-wave {
        height: 15%;
    }

    .generator {
        height: 65%;
    }
    
    .intro-msg {
        font-size: .8em;
        text-align: center;
    }

    .field {
        font-size: 15vw;
        height: 30%;
    }

    .btn {
        height: 20%;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn > button {
        height: 40%;
    }

    .gen {
        width: 90%;
    }

    .genBtn {
        padding: 10px;
        width: 100%;
        height: 100%;
        font-size: 150%;
    }

    .scroll {
        display: none;
    }

    #about-bg {
        background: none;
        animation: none;
    }

    #about {
        width: 100%;
    }

    .part {
        flex-direction: column;
        text-align: center;
        font-size: 80%;
        width: 95%;
    }

    .typing {
        font-size: 15vw;
    }

    /*
    #topBtn {
        bottom: 10px;
        right: 10px;
        z-index: 99;
        background-color: #fa3838;
        border-radius: 50px;
        height: 60px;
        width: 60px;
        box-shadow: -2px 3px 5px 1px rgba(0, 0, 0, 0.4);
    }

    #topBtn:hover {
        background-color: #fa3838;
    }
    */

    .cnotact {
        width: 95%;
    }
}